/* App.css */

/* Overall styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

/* Task list */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span[contentEditable="true"] {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#add_input {
  width: 15%;
  justify-content: center;
  margin-left: 35%;
}

/* Add task button */
.add-task-btn {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  margin: 2px auto;
  margin-left: 12px;

}

.add-task-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Edit and delete buttons */
.edit-task-btn {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  margin: 2px;
}

.edit-task-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

.delete-task-btn {
  background-color: #dc3545; /* Red color */
  color: white;
  border: none;
  margin: 2px;
}

.delete-task-btn:hover {
  background-color: #c82333; /* Darker red on hover */
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .App {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  input[type="text"] {
    width: 60%;
  }
}
